<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
</p>

<p>
  <strong>Description:</strong>
</p>

<p>
  <strong>Price:</strong>
</p>

<p>
  <strong>Seller ID:</strong>
</p>

<p>
  <strong>Email:</strong>
</p>

